<div class="row">
  <div class="small-6 small-centered columns">
    <h4>Login with Twitter or Github</h4>
    <button {{action 'twitter'}}><i class="icon-twitter-sign"></i> Twitter</button>
    <button {{action 'github'}}><i class="icon-google-plus-sign"></i> Github</button>
  </div>
</div>
