<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">App</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
      <li class="divider"></li>
      <li>{{#link-to 'photos'}}Photos{{/link-to}}</li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
  
      <li class="divider show-for-small"></li>
      {{#if App.UserInfo.signedIn}}
        <ul class="user">
          <li><img {{bindAttr src=App.UserInfo.picture}} alt=""></li>
          <li><p>{{App.UserInfo.name}}</p></li> 
          <li class="has-form">
            {{#link-to 'logout' }}Logout{{/link-to}}
          </li>    
        </ul>
      {{else}}
        <li class="has-form">
          {{#link-to 'login' class="button"}}Login{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </section>
</nav>